body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.first {
    height: 650px;
    width: 100%;
    background-color: #77cfad;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third {
    height: 300px;
    width: 100%;
    background-color: rgb(125, 205, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth {
    height: 250px;
    width: 100%;
}

.first-content,
.header {
    width: 1500px;
}

.text {
    color: white;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo,
.title
.author {
    font-weight: bold;
}

.left-side,
.right-side {
    display: flex;
    margin-top: 40px;
}

.right-side {
    gap: 20px;
}


/*
.first-content,
.text-info,
.title,
.image-placeholder,
.header {
     border: 2px solid black; 
}
*/

.first-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 40px;
}

.text-info {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.sign-up-button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.image-placeholder {
    width: 700px;
    height: 300px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.second-title,
.info-boxes,
.box {
    border: 2px solid black;
}
*/

.second-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-boxes {
    height: 400px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.blue-square {
    height: 150px;
    width: 150px;
    border: 4px solid blue;
    border-radius: 10%;
}

/*
.quote,
.author {
    border: 2px solid black;
}
*/

.quote {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.italic {
    font-style: italic;
}

.author {
    align-self: flex-end;
}





